.selections {
  background-color: rgb(216, 213, 213);
  border-radius: 20px;
  padding: 10px;
  width: 100%;
}

.year,
.round {
  display: inline-block;
  width: 50%;
}

.year select,
.round select {
  width: 100%;
}

.year select option:hover,
.round select option:hover {
  background-color: rgb(255, 36, 36);
}

.selections label {
  font-size: x-large;
  font-weight: 1000;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: cursive;

}


.headers {
  font-size: larger;
  height: auto;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: cursive;
}

td,
th {
  width: 200px;
}

.mat-row:nth-child(even) {
  background-color: white;
}

.mat-row:nth-child(odd) {
  background-color: rgb(216, 213, 213);
}

table td {
  border: none;
}

.errormsg {
  background-color: rgb(199, 36, 36);
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  text-align: center;
  justify-content: center;
  border-radius: 3px;
}
