.content {
    max-height: 65%;
    overflow-y: auto;
    overflow-x: auto;
    width: auto;
    margin-top: 100px;
    // border: 1px solid black;
    // padding: 50px;
    // background-color: rgb(228, 228, 228);
    // border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}