.year {
  // text-align: center;
  background-color: rgb(216, 213, 213);
  border-radius: 20px;
  padding: 10px;
}

.year label {
  color: red;
  font-size: x-large;
  font-weight: 1000;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: cursive;

}

.year input {
  margin-right: 20px;
  border-radius: 20px;
}

header {
  color: red;
  font-size: xx-large;
  font-weight: 1000;
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: cursive;
}

td,
th {
  width: 200px;
}

.mat-row:nth-child(even) {
  background-color: white;
}

.mat-row:nth-child(odd) {
  background-color: rgb(216, 213, 213);
}

table td {
  border: none;
}

.errormsg {
  background-color: rgb(199, 36, 36);
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  text-align: center;
  justify-content: center;
  border-radius: 3px;
}
